*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #fff;
}
nav{
  width: 100%;
  height: 80px;
  background-color: #143075;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 1px 2px 2px #828af3;
}
.nav_link {
  display: flex;
}
.logo{
  width: 110px;height: 110px;
  margin-top: -12px;
  margin-left: 40px;
}
.nav_link .nav-item a{
  color: #f0f8ff;
  font-size: 1.3rem;
  padding: 0 15px;
  font-family: Franklin Gothic Medium;
  display: block;
  position: relative;
}
nav ul li.active a{
  background: #0077ff;
  border-radius: 5px;
}
.nav_link a:hover{
  color: #e5ff00;
  transition: 0.5s;
}
#bars{
  padding: 5px 7px;
  color: #00e1ff;
  font-size: 1.5rem;
  border-radius: 3px;
  margin-top: -10px;
  display: none;
  cursor: pointer;
}
#profile{
    width: 100%;height: auto;
    
}
#profile h2{
    border-bottom: 2px solid #042370;
    margin: auto;
    margin-bottom: 15px;
    width: fit-content;
    font-size: 2.7rem;
    color: #042370;
    font-weight: 600;
    font-family:  Helvetica;
    padding-top: 40px;
}
.profile{
    width: 800px;height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #0077ff2d;
    border-radius: 0 0 2px 2px  #4da0b9;
}
.f_profile{
  width: 390px;height: auto;
  margin-top: 20px;
}
.s_profile{
    width: 390px;height: auto;
}
.f_profile li,
.s_profile li{
    font-size: 1.4rem;
    color: #042370;
}
.f_profile li p,
.s_profile li p{
    color: black;
    font-size: 1.1rem;
}
.f_profile li i,
.s_profile li i{
    margin-right: 5px;
    color: #025abe;
}
.c_profile{
  width: 100%;height: auto;
  position: relative;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cer{
  width: 403px;height: auto;
  border: 1px solid #0077ff;
  margin-right: 5px;
}
.al{
  width: 403px;height: auto;
  border: 1px solid #0077ff;
  margin-left: 5px;
}


#about {
  width: 100%;height: auto;
  padding: 100px 20px ;
  margin: auto;
  position: relative;
}
#about h2{
  border-bottom: 2px solid #042370;
  margin: auto;
  margin-bottom: 15px;
  width: fit-content;
  font-size: 2.7rem;
  color: #042370;
  font-weight: 600;
  font-family:  Helvetica;
  /* backdrop-filter: blur(5px); */
}
#about .intro{
  width: 200px;
  height: 27px;
  background-color: #042370c7;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 15px;
}
#about .miss{
  width: 130px;
  height: 27px;
  background-color: #042370c7;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 15px;
}
#about h4{
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#about p{
  text-align: justify;
  color: #042370;
  font-size: 1.2rem;
  /* backdrop-filter: blur(4px); */
}

footer {
  text-align: center;  
  background-color: #0531a0;
  border-radius: 5px;
}

footer a {
  margin: 10px 10px;
  font-size: 3rem;
}

footer a .fa-facebook {
  color: #d9e1f0;
}

footer a .fa-viber {
  color: #8a49b6;
}

footer a .fa-whatsapp {
  color: green;
}

footer a .fa-telegram {
  color: #1fb8ff;
}
footer p{
  color: #a7a4a4;
  font-size: 15px;
}
footer i{
  margin-right: 7px;
}

/* .......................................................................... */

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  nav, header, main {
    flex: 100%;
    padding: 0 10px;
  }
  section {
    flex-wrap: wrap
  }
  .nav{
    border-radius: 5px;
  }
  #bars {
    display: block;
  }
  .nav_link{
    position: absolute;
    top: 80px;
    right: 0;left: 0;
    margin: 3px 30px;
    padding: 10px 60px;
    transform: translateY(-240%);
    background-color: #06489ec7 ;
    transition: 0.6s;
    display: block;
    border-radius: 5px;
  }
  .show{
    transform: translateX(0%);
  }
  .nav_link .nav-item a{
    display: block;
    background-color: #25b6c9bd;
    text-align: center;
    margin: 5px 10px;
  }
    .profile{
        flex-direction: column;
        width: 385px;
    }
  .c_profile{
      flex-direction: column;
  }
  .cer{
    width: 380px;
    margin-right: 2px;
  }
  .al {
    width: 380px;
    margin-left: -2px;
  }
  .cer img{
    width: 378px;
  }
  .al img{
    width: 378px;
  }
  footer {
    margin-bottom: 10px;
  }
  footer p{
    font-size: 10px;
  }

    
}